[submodule "Titan"]
	path = Titan
	url = https://github.com/scavicchio/Titan.git
[submodule "lib3mf"]
	path = lib3mf
	url = https://github.com/3mfconsortium/lib3mf.git
[submodule "lib/spectra"]
	path = lib/spectra
	url = https://github.com/yixuan/spectra.git
[submodule "lib/Titan"]
	path = lib/Titan
	url = https://github.com/scavicchio/Titan.git
[submodule "lib/lib3mf"]
	path = lib/lib3mf
	url = https://github.com/3mfconsortium/lib3mf.git
